body {
  background-color: #030066;
}
.main {
  padding: 3% 15%;
}
.main h1 {
  color: #ededfc;
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.row {
  text-align: center;
  margin-top: 10%;
  padding: 0% 15%;
}
.row h2 {
  color: #ededfc;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 2% 2%;
}
.button {
  text-align: center;
  padding-top: 8%;
}
.answer{
  padding: 3.5% 0%;
}
.answer h1{
  color: #ededfc;
  font-family: "Roboto Slab", serif;
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-transform: capitalize;
}